@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .abs { position: absolute; }
    .rel { position: relative; }
    .hbox { display: flex; flex-direction: row; }
    .vbox { display: flex; flex-direction: column; }
    .all-center {
        @apply flex justify-center items-center;
    }
    
    .btn {
        @apply rounded-md m-1 px-4 py-3 cursor-pointer bg-opacity-100 transition-colors duration-300;
    }

    .btn:hover {
        @apply bg-opacity-80;
    }
    
    .field {
        @apply border rounded-md mx-1 px-2 py-1
    }

    .flex-break {
        flex-basis: 100%;
        height: 0;
    }

    .i { font-style: italic; }
    .b { font-weight: bold; }
    .pre { @apply whitespace-pre; }
    .nowrap { @apply whitespace-nowrap; }

    h1, h2, h3 { font-weight: bold; }

    h1 { @apply text-3xl; }
    h2 { @apply text-2xl; }
    h3 { @apply text-xl; }

    .debug {
        @apply font-mono text-2xs whitespace-pre bg-green-500 block;
    }

    .small-tag {
        @apply px-2 pb-0 pt-1 mx-2 rel -top-1 text-white bg-gray-600 font-bold text-sm rounded-md
    }

    .panel {
        @apply p-2 rounded-xl bg-purple-50
    }
}

.for-mob { display: initial; }
.for-tablet { display: none; }

@media screen(tablet) {
    .for-mob { display: none; }
    .for-tablet { display: initial; }
}

:root, html, body {
  font-family: 'Josefin Sans', sans-serif;
}

/* * {
    scrollbar-width: none;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
} */

.main-body {
    
}

@media screen(tablet) {
    .main-body {
        --sidebar-width: 16rem;
    }
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}

i { font-style: normal; display: inline-block; }

.main-app {
    background-image: url('./assets/bg-image-lady-dead.jpg');
    background-size: cover;
    background-position: center center;
}

.radial-gradient {
    background: radial-gradient(closest-side, var(--tw-gradient-from), var(--tw-gradient-to));
}

.scanlines {
    --scanline-y: 0px;
    background: linear-gradient(
        to bottom,
        var(--tw-gradient-from) 0%,
        var(--tw-gradient-to) 50%,
        var(--tw-gradient-from) 100%
    );
    background-size: 100% 5px;
    background-position: 0px var(--scanline-y);
}


/* Vue Router Transitions */
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}